.bg-gray
	background-color: #F0F3F7

.md-desc-wrapper
	display:none

.md-desc-container
	float : left
	margin : 0 0 0 30px
	padding: 2px 0

.more-info
	cursor : pointer

.sober-list
	list-style-type : none
.sober-list i[class*="icon"] 
	margin-right:5px
	line-height: 1
#main-nav i[class*="icon"] 
	line-height: 0.7

.firstLetterUp:first-letter
	text-transform : uppercase

.accordion i[class*="icon"] 
	font-size:16px
