// VARIABLES
basecolor = #34A6FF
contrastcolor = #5C5
actioncolor = #fe8800
bgcolor = #F5F5F5

// STYLES
current-path
  position: relative
  border-bottom: 1px solid #e5e5e5
  background-color: bgcolor
  min-height: 41px
  line-height: 40px
  padding: 0 12px 0 0
  display: block