.bg-gray
    background-color: #F0F3F7

.md-desc-wrapper
    display:none

.md-desc-container
    float : left
    margin : 0 0 0 30px
    padding: 2px 0

.more-info
    cursor : pointer

.sober-list
    list-style-type : none
.sober-list i[class*="icon"] 
    margin-right:5px
    line-height: 1
#main-nav i[class*="icon"] 
    line-height: 0.7

.firstLetterUp:first-letter
    text-transform : uppercase

.accordion i[class*="icon"] 
    font-size:16px

#result-list tr:first-child td
    border-top:none

.info-box
    position:absolute
    box-sizing: border-box
    padding: 4px 13px 10px 15px
    -webkit-border-radius: 3px
    -moz-border-radius: 3px
    border-radius: 3px
    border: 1px solid #CCC
    font-size: 12px
    font-size: 1.1em
    color: #595959
    background: #F0F3F7
    text-align: left
    white-space: nowrap
    font-weight:bold
    opacity: 0
    z-index: -1

.info-box i 
    font-size : 1.2em
    line-height: 0.8

.field-title
    display: block
    padding-bottom:5px

.field-description
    font-weight:normal

.accordion .label
    position: relative
    cursor : default
    display : inline-block

.accordion .label i
    font-size : 1.1em 
    line-height: 1

#all-result
    position : relative
.loading-image
    text-align : center
    padding-top: 15px

.load-more-result
    color:#316AB7
    font-weight:bold
    font-size:1.2em
    display:block
    margin:auto
    width:200px
    text-align:center
    line-height: 17px
    display:none

.spinner
    margin-top:20px

.accordion-heading
    position:relative

.remove-result
    background-color : #FFF
    border: solid 1px #B94A48
    border-radius : 3px
    font-weight:bold
    color : #B94A48
    position:absolute
    right : 10px
    top : 5px
    padding: 2px 6px
    text-shadow : none
    font-size:0.9em
    cursor : pointer

.remove-result i 
    line-height : 0.8

.modal-title
    color : #FFF

.classic-toggle .caret
    border-top-color: #FFF
    border-bottom-color: #FFF

.classic-toggle:focus 
    background-position: 0px 0px !important
    color : #FFF !important

.dropdown-menu 
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: visible;
