/* side navigation */
li [class^="icon-"],
li [class*=" icon-"],
.nav-list li [class^="icon-"],
.nav-list li [class*=" icon-"] {
  width: auto;
}
.nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-list .open > a,
.nav-list .open > a:hover,
.nav-list .open > a:focus {
  background-color: #fafafa;
}
.nav-list > li > a,
.nav-list .nav-header {
  margin: 0;
}
.nav-list > li {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-top: 1px solid #FCFCFC;
  border-bottom: 1px solid #E5E5E5;
  position: relative;
}
.nav-list > li:first-child {
  border-top: none;
}
.nav-list li > a:focus {
  outline: none;
}
.nav-list > li > a {
  display: block;
  height: 38px;
  line-height: 36px;
  padding: 0 16px 0 7px;
  background-color: #f9f9f9;
  color: #585858;
  text-shadow: none !important;
  font-size: 13px;
  text-decoration: none;
}
.nav-list > li > a > [class*="icon-"]:first-child {
  display: inline-block;
  vertical-align: middle;
  min-width: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: normal;
  margin-right: 2px;
}
.nav-list > li > a:focus {
  background-color: #f9f9f9;
  color: #1963aa;
}
.nav-list > li > a:hover {
  background-color: #FFF;
  color: #1963aa;
}
.nav-list > li > a:hover:before {
  display: block;
  content: "";
  position: absolute;
  top: -1px;
  bottom: 0;
  left: 0;
  width: 3px;
  max-width: 3px;
  overflow: hidden;
  background-color: #3382af;
}
.nav-list > li a > .arrow {
  display: inline-block;
  width: 14px !important;
  height: 14px;
  line-height: 14px;
  text-shadow: none;
  font-size: 18px;
  position: absolute;
  right: 11px;
  top: 11px;
  padding: 0;
  color: #666666;
}
.nav-list > li a:hover > .arrow,
.nav-list > li.active > a > .arrow,
.nav-list > li.open > a > .arrow {
  color: #1963aa;
}
.nav-list > li.separator {
  height: 3px;
  background-color: transparent;
  position: static;
  margin: 1px 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.nav-list > li.open > a {
  background-color: #fafafa;
  color: #1963aa;
}
.nav-list > li.active {
  background-color: #ffffff;
}
.nav-list > li.active > a,
.nav-list > li.active > a:hover,
.nav-list > li.active > a:focus,
.nav-list > li.active > a:active {
  background-color: #ffffff;
  color: #2b7dbc;
  font-weight: bold;
  font-size: 13px;
}
.nav-list > li.active > a > [class*="icon-"] {
  font-weight: normal;
}
.nav-list > li.active > a:hover:before {
  /* no left side menu item border on active state */

  display: none;
}
.nav-list > li.active:after {
  /* the border on right of active item */

  display: inline-block;
  content: "";
  position: absolute;
  right: -2px;
  top: -1px;
  bottom: 0;
  z-index: 1;
  border: 2px solid #2b7dbc;
  border-width: 0 2px 0 0;
}
.nav-list > li.open {
  border-bottom-color: #e5e5e5;
}
.nav-list li.active > a:after {
  display: block;
  content: "";
  position: absolute !important;
  right: 0;
  top: 4px;
  border: 8px solid transparent;
  border-width: 14px 10px;
  border-right-color: #2b7dbc;
}
.nav-list li.open > a:after {
  /* no caret for open menu item */
  display: none;
}
.nav-list a .badge,
.nav-list a .label {
  font-size: 12px;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  top: 9px;
  right: 11px;
  opacity: 0.88;
}
.nav-list a .badge [class*="icon-"],
.nav-list a .label [class*="icon-"] {
  vertical-align: middle;
  margin: 0;
}
.nav-list a.dropdown-toggle .badge,
.nav-list a.dropdown-toggle .label {
  right: 28px;
}
.nav-list a:hover .badge,
.nav-list a:hover .label {
  opacity: 1;
}
/* sidebar shortcuts icon */
.sidebar-shortcuts {
  background-color: #fafafa;
  border-bottom: 1px solid #dddddd;
  text-align: center;
  line-height: 39px;
  max-height: 41px;
  margin-bottom: 0;
}
.sidebar-shortcuts-large {
  padding-bottom: 4px;
}
.sidebar-shortcuts-large > .btn {
  width: 41px;
  line-height: 24px;
  margin-top: -2px;
  padding: 0;
  border-width: 4px;
  text-align: center;
}
.sidebar-shortcuts-large > .btn > [class*="icon-"] {
  margin: 0;
}
.sidebar-shortcuts-mini {
  display: none;
  font-size: 0;
  width: 42px;
  line-height: 18px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #ffffff;
}
.sidebar-shortcuts-mini > .btn {
  border-width: 0 !important;
  font-size: 0;
  line-height: 0;
  padding: 8px !important;
  margin: 0 1px;
  border-radius: 0 !important;
  opacity: 0.85;
  filter: alpha(opacity=85);
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::safari-only,
  .sidebar-shortcuts-mini > .btn {
    margin: 0;
  }
}
/* responsive sidebar */
@media only screen and (max-width: 991px) {
  .sidebar:before {
    display: none;
  }
  .sidebar {
    display: none;
    float: none;
    position: absolute;
    z-index: 999;
    left: 0;
    bottom: auto;
    top: auto !important;
    /*so that it's applied even if it's .sidebar-fixed */

    margin-top: 40px;
    border: 1px solid #CCC;
    border-left-width: 0;
    box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  .sidebar.display {
    display: block;
  }
  .menu-toggler {
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: 998;
    width: 32px;
    height: 20px;
    margin-right: 2px;
    line-height: normal;
    padding-left: 33px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #444;
    color: #F3F3F3;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }
  .menu-toggler:hover {
    text-decoration: none;
  }
  .menu-toggler > .menu-text {
    display: block;
    position: absolute;
    bottom: -10px;
    left: 0;
    border: 1px solid transparent;
    border-width: 5px 32px;
    border-top-color: #444;
  }
  .menu-toggler > .menu-text:after {
    display: block;
    color: #FFF;
    content: "MENU";
    position: absolute;
    left: 10px;
    top: -23px;
  }
  .nav-list > li.active:after {
    display: none;
  }
  .nav-list li.active > a:after {
    display: none;
  }
}
