@import 'cozy-ui'
@import './menu'

[role=application]
    @extend $app-2panes-toolbar

    [role=toolbar]
        background-color white
        display flex

        [formaction="drawer/toggle"]
            padding    0
            flex-basis 2.25em
            display none

    [role=contentinfo]
        background-color white
        overflow-x auto!important

@media (max-width: (1023/basefont)rem)
    [role=application]
        [role=toolbar]
            [formaction="drawer/toggle"]
                display block
