[role=application]
    > aside
        overflow-y auto
        padded()
        background-color grey-01
        border-right 1px solid grey-03
        ul
            reset()
        li
            padding 3px
            list-style-type none
        a
            color black
            text-decoration none
            display inline-block
            width 100%
        a:hover
            background-color grey-03
        a.selected
            font-weight bold
        .spinner
            width 60px
