@import 'cozy-ui'
@import './menu'
@import './table'

[role=application]
    @extend $app-2panes-toolbar

    [role=toolbar]
        background-color white
        display flex

        [formaction="drawer/toggle"]
            padding    0
            flex-basis 2.25em

    [role=contentinfo]
        background-color white
