[role=application]
    .dataTables_filter,.dataTables_info
        text-align center
    table
        empty-cells show
        border 1px solid #cbcbcb

    td, th
        border-left 1px solid #cbcbcb
        border-width 0 0 0 1px
        margin 0
        overflow visible
        padding 0.5em 1em

    td:first-child, th:first-child
        border-left-width 0

    thead
        background-color #e0e0e0
        color #000
        text-align center
        vertical-align bottom

    td
        background-color #f2f2f2
        border-bottom 1px solid #cbcbcb

    tr:nth-child(2n-1) td
        background-color #f2f2f2

    tbody > tr:last-child > td
        border-bottom-width 0
