#masthead
	.container
		.masthead-pad            
			.masthead-text
				h2 Doctypes
				p Here you can find the full list of document types present on your cozy
.container
	.row
		.span12
			h3.title My current doctype list			
			#doctypes-container
				table.table
					thead						
						th Description
						th Name
						th Number
					tbody#doctypes-list
