- for (var index in value) {
    - displayName = value[index].displayName !== ''? value[index].displayName : value[index].doctype
    a.dropdown-toggle.first-level(href='#search/all/#{value[index].doctype}')
        span.menu-text.firstLetterUp #{displayName} (#{value[index].sum})
- }
