.current-title 
    h1 Doctypes

.row
    .col-xs-12
        .table-responsive
            #doctypes-container
                table.table.table-striped.table-bordered.table-hover
                    thead
                        th Name
                        th Number of documents
                        th About that doctype
                    tbody#doctypes-list

