h4 &nbsp;&nbsp;Currently exploring :&nbsp;
    em #{doctype[0]} (#{range})

.visible-md.visible-lg.hidden-sm.hidden-xs.btn-group.result-buttons
    button.btn.btn-xs.remove-result
        span
        i.icon-trash.bigger-120