if results['no_result']
    em #{results['no_result_msg']}
else
    each fieldname in Object.keys(fields)
        if results['fields'][fieldname] == undefined
            td NA
        else if results['fields'][fieldname].cdbFieldTitle !== ''
            td(title=results['fields'][fieldname].cdbFieldTitle)
                != results['fields'][fieldname].cdbFieldData
        else
            td!= results['fields'][fieldname].cdbFieldData

    td.action
        button.btn.btn-xs.remove-result
            i.icon-trash.bigger-120