span &nbsp;&nbsp;Currently exploring :&nbsp;
    em #{doctype[0]} (#{range}) - results 0 to #{max}

.visible-md.visible-lg.hidden-sm.hidden-xs.btn-group.result-buttons
    button.btn.btn-xs.btn-danger.remove-result
        |Delete All&nbsp;&nbsp;
        i.icon-trash.bigger-120