.widget-box
    .widget-header.widget-header-small.header-color-green
        h4.lighter
            i.icon-question-sign
            | &nbsp;About #{name}

        .widget-toolbar
            a(href="#", data-action="collapse")
                i.icon-chevron-up
            a(href="#", data-action="close")
                i.icon-remove

    .widget-body
        .widget-body-inner
            .widget-main.padding-6
                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque commodo massa sed ipsum porttitor facilisis. Nullam interdum massa vel nisl fringilla sed viverra erat tincidunt. Phasellus in ipsum velit. Maecenas id erat vel sem convallis blandit. Nunc aliquam enim ut arcu aliquet adipiscing. Fusce dignissim volutpat justo non consectetur.
