- if (doctype !== '') {
    h4 &nbsp;&nbsp;#{t('currently exploring')} :&nbsp;
        em #{doctype} #{range} &nbsp;
        - if (hasMetainfos) {
            - if (isVisible) {
                i.about-doctype.icon-question-sign.white-and-green
            -}
            - else {
                i.about-doctype.icon-question-sign
            -}
        - }
        |&nbsp;
        i.view-switcher(class=icon_presentation)

    .visible-md.visible-lg.hidden-sm.hidden-xs.btn-group.result-buttons
        button#delete-all.btn.btn-xs
            span
            i.icon-trash.bigger-120
-}