#all-result
    #basic-accordion.accordion-style1.panel-group

    .info-box
        span.field-title &nbsp;About this field
        span.field-description
            em no information
    div.load-more-result
        span load more results&nbsp
        br
        i.icon-circle-arrow-down