#masthead
    .container
        .masthead-pad            
            .masthead-text
                h2 Search Engine
                p Here you can prepare and launch your search
            .masthead-text
                span.search-label#search-label My search
                input(type="text")#search-field
                button#launch-search.btn.btn-tertiary
                    i.icon-search
            //- .masthead-text#search-options
            //-     span.label-search My options
            //-     ul#dt-cddl-list
.container
    .row
        .span12     
            h3.title Results of my previous search
            #all-result
                #basic-accordion.accordion
                .info-box
                    span.field-title &nbsp;About this field
                    span.field-description
                        em no information
                div.load-more-result 
                    span load more results&nbsp
                    br
                    i.icon-circle-arrow-down