.introduction
    .page-header
        h1 Welcome to your Cozy-Databrowser
    p This application allows you to find any data in your cozy environement.
    P Please, explore the menu and select a type of document that you want to retrieve.
#all-result
    #basic-accordion.accordion-style1.panel-group
    #basic-table.table-responsive
            table#result-view-as-table.table.table-striped.table-bordered.table-hover
                tbody
    .load-more-result
        span #{t('load more results')}&nbsp;
        br
        i.icon-circle-arrow-down
