#masthead
	.container
		.masthead-pad            
			.masthead-text
				h2 Search Engine
				p Here you can prepare and launch your search
.container
	.row
		.span12		
			h3.title Results of my previous search
			#basic-accordion.accordion