.introduction
    .page-header
        h1 #{t('welcome title')}
    p #{t('welcome message part1')}
    p #{t('welcome message part2')}
#all-result
    .btn-group.result-buttons
        button#delete-all.btn.btn-xs
            span
            i.icon-trash.bigger-120
    #basic-table.table-responsive
            table#result-view-as-table.table.table-striped.table-bordered.table-hover
                tbody
    .load-more-result
        span #{t('load more results')}&nbsp;
        br
        i.icon-circle-arrow-down
